.toolbar-title {


  font-weight: bold;
  font-size: 1.5rem;

}




.table {


  width: 100%;
  margin-left: auto;
  margin-right: auto;


  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);




  .table-header {

    background-color: #c63535;
    color: white;


    .mat-header-cell {
      color: white;
    }
  }



  .table-body-row {}

}



.input-filter {

  width: 100%;

}















tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(223, 222, 222);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;


  .image-container {

    flex: 0 0 30%;

    img {

      height: 150px;
      width: 150px;
    }

  }


  .info-container {
    flex: 0 0 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .detail-title {
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
    }


    .detail-footer {
      display: flex;
      justify-content: space-between;


      .detail-footer-cantidad {}

      .detail-footer-precio {}
    }
  }
}






.bold {
  font-weight: bold;
}





.mat-cell{
  max-width: 200px;
}